.details-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(92, 92, 92);
}

.details-list li {
  margin: 15px;
  padding: 10px;
}

.details-num {
  float: right;
  color: #f0f8ff;
}

.details-list-item {
  display: flex;
  justify-content: space-between;
}
