.cities-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(92, 92, 92);
}

.cities-list li {
  cursor: pointer;
  margin: 15px;
  padding: 10px;
}

.details-list-item {
  display: flex;
  justify-content: space-between;
}
input {
  background-color: rgba(255, 255, 255, 0);
  /* opacity: 0.5; */
  color: #d1d1d1;
  height: 40px;
  width: 70%;
  border: none;
  border-bottom: 2px solid #333131;
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50px;
  height: 55px;
  cursor: pointer;
}
.search-icon {
  width: 15px;
  height: 15px;
}

input:focus {
  outline: none;
}
.form {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .btn {
    position: inherit;
    height: 40px;
  }
}
